
:root {
    --light-gray:rgb(248,249,252);
    --gray:rgb(29,38,55);
    --blue:rgb(108, 99, 255);
}

body {
    background: var(--light-gray);
}

/* || HEADER
=============== */

.header {
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
}

.header__nav-element {
    display:inline-block;
    padding-left: 6px;
}

@media screen and (max-width:768px){
    .header__menu-icon {display:inline;}
    .header-nav-list {display:none;}
}

/* || HERO 
=============== */

.hero {
    min-height:85vh;
    display:flex;
    justify-content: space-between;
    padding:0rem 2rem 1rem 2rem;
}

.hero-content {
    width:38%;
    padding:2rem;
    border-radius: 5px;
    background:var(--gray);
    color:#FFF;
}

.hero-showcase {
    width:58%;
}

.hero-features {
    height:fit-content;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;
    padding:1rem;
    border-radius: 5px;
    background:#6C63FF;
    color:#FFF;
}

.hero-feature-container {
    padding:1rem;
    border-radius: 5px;
}

.hero-form {
    display:flex;
    gap:1rem;
    margin-top:1rem;
}

.hero-form__signup-btn , .hero-form__login-btn {
    width:50%;
    padding:1rem;
    outline: none;
    border:none;
    border-radius: 5px;
    font-weight: 900;
    background-color: var(--light-gray);
    border:solid 2px var(--gray);
    color:var(--gray);
}

@media screen and (max-width:768px){
    .hero {display: block;}
    .hero-content , .hero-showcase {width:100%;}
    .hero-showcase , .hero-form {margin-top:2rem;}
}

@media screen and (max-width:576px){
    .hero {
        width:90%;
        padding-left: 0;
        padding-right: 0;
    }
    .hero-content , .hero-features {padding:2rem 1rem;}
    .hero-features {grid-gap:2rem;}
    .hero-showcase , .hero-feature-container {padding:0;}
    .hero-feature-container__title {padding-bottom: 0.25rem;}
}

/* || Authentification
=============== */

.hero-signup {
    height:fit-content;
    padding:1rem;
    border-radius: 5px;
    color:white;
    background:#6C63FF;
}

.hero-signup__username-label , .hero-signup__pwd-label {
    display:none;
    font-weight:900;
}

.hero-signup__username-input , .hero-signup__pwd-input {
    display:none;
    margin-top:0.5rem;
    border:none;
    border-bottom:solid white 2px;
    outline: none;
    background: none;
    color:white;
}

.hero-signup__arrow {
    margin-left:0.5rem;
}