<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/typography.css">
    <link rel="stylesheet" href="../css/utilities.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>Document</title>
</head>
<body>
    <div class="header-wrapper">
        <header class="header container">
            <p class="header__logo fs-sm">ChatApp</p>
            <ul class="header-nav-list">
                <li class="header__nav-element"><a href="" class="header__nav-link fs-sm">Home</a></li>
                <li class="header__nav-element"><a href="" class="header__nav-link fs-sm">Services</a></li>
                <li class="header__nav-element"><a href="" class="header__nav-link fs-sm">Contact</a></li>
            </ul>
        </header>
    </div>
    <div class="dash-board">
        <div class="side-bar">
            <div class="side-bar-profile">
                <div class="side-bar-profile__img"></div>
                <p class="side-bar-profile__username fs-md">Lilian G0atesque</p>
            </div>
            <div class="side-bar-friends">
                <h3 class="side-bar-friends-online">Online</h3>
                <div class="side-bar-friends__profile">
                    <div class="side-bar-friends-profile__img"></div>
                    <p class="side-bar-friends-profile__username fs-sm">Platon</p>
                </div>
                <div class="side-bar-friends__profile">
                    <div class="side-bar-friends-profile__img"></div>
                    <p class="side-bar-friends-profile__username fs-sm">Descartes</p>
                </div>
                <div class="side-bar-friends__profile">
                    <div class="side-bar-friends-profile__img"></div>
                    <p class="side-bar-friends-profile__username fs-sm">Kant</p>
                </div>
                <div class="side-bar-friends__profile">
                    <div class="side-bar-friends-profile__img"></div>
                    <p class="side-bar-friends-profile__username fs-sm">Rousseau</p>
                </div>
                <div class="side-bar-friends__profile">
                    <div class="side-bar-friends-profile__img"></div>
                    <p class="side-bar-friends-profile__username fs-sm">Marx</p>
                </div>
                <div class="side-bar-friends__profile">
                    <div class="side-bar-friends-profile__img"></div>
                    <p class="side-bar-friends-profile__username fs-sm">Hobbes</p>
                </div>
            </div>
        </div>
        <div class="main">
            <header class="main-header">
                <h2 class="main-header__title fs-lg">Welcome back Lilian G0atesque</h2>
                <p class="main-header__text fs-md">What's up ?</p>
            </header>
            <div class="main-groups">
                <header class="main-groups-header">
                    <h2 class="main-groups-header__title fs-md">Groups</h2>
                    <div class="main-groups-header-icons"></div>
                </header>
                <div class="main-groups-content">
                    <div class="main-groups-group">
                        <p class="main-groups-group__name fs-sm">Group name</p>
                        <p class="main-groups-group__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quo distinctio? Voluptatibus laudantium et cumque officia vel fuga nisi deleniti error? Hic quod soluta minima culpa adipisci nihil! Iure, dolorum?</p>
                    </div>
                    <div class="main-groups-group">
                        <p class="main-groups-group__name fs-sm">Group name</p>
                        <p class="main-groups-group__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quo distinctio? Voluptatibus laudantium et cumque officia vel fuga nisi deleniti error? Hic quod soluta minima culpa adipisci nihil! Iure, dolorum?</p>
                    </div>
                    <div class="main-groups-group">
                        <p class="main-groups-group__name fs-sm">Group name</p>
                        <p class="main-groups-group__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quo distinctio? Voluptatibus laudantium et cumque officia vel fuga nisi deleniti error? Hic quod soluta minima culpa adipisci nihil! Iure, dolorum?</p>
                    </div>
                    <div class="main-groups-group">
                        <p class="main-groups-group__name fs-sm">Group name</p>
                        <p class="main-groups-group__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quo distinctio? Voluptatibus laudantium et cumque officia vel fuga nisi deleniti error? Hic quod soluta minima culpa adipisci nihil! Iure, dolorum?</p>
                    </div>
                </div>
            </div>
            <div class="main-discussions">
               <header class="main-discussions-header">
                    <h2 class="main-discussions-header__title fs-md">Discussions</h2>
                    <div class="main-discussions-header-icons"></div>
               </header>
               <div class="main-discussions-content">
                    <div class="main-discussions-discussion">
                         <div class="main-discussions-discussion__profile">
                             <img src="" alt="" class="main-discussions-discussion-profile__img">
                             <p class="main-discussions-discussion-profile__name fs-sm">Platon</p>
                         </div>
                         <p class="main-discussions-discussion__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nulla architecto atque consectetur optio magnam, mollitia excepturi corrupti incidunt iure quo eveniet in tenetur reiciendis at veniam beatae quisquam sed.</p>
                     </div>
                     <div class="main-discussions-discussion">
                         <div class="main-discussions-discussion__profile">
                             <img src="" alt="" class="main-discussions-discussion-profile__img">
                             <p class="main-discussions-discussion-profile__name fs-sm">Username</p>
                         </div>
                         <p class="main-discussions-discussion__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nulla architecto atque consectetur optio magnam, mollitia excepturi corrupti incidunt iure quo eveniet in tenetur reiciendis at veniam beatae quisquam sed.</p>
                    </div>
                    <div class="main-discussions-discussion">
                        <div class="main-discussions-discussion__profile">
                            <img src="" alt="" class="main-discussions-discussion-profile__img">
                            <p class="main-discussions-discussion-profile__name fs-sm">Username</p>
                        </div>
                        <p class="main-discussions-discussion__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nulla architecto atque consectetur optio magnam, mollitia excepturi corrupti incidunt iure quo eveniet in tenetur reiciendis at veniam beatae quisquam sed.</p>
                    </div>
                    <div class="main-discussions-discussion">
                        <div class="main-discussions-discussion__profile">
                            <img src="" alt="" class="main-discussions-discussion-profile__img">
                            <p class="main-discussions-discussion-profile__name fs-sm">Username</p>
                        </div>
                        <p class="main-discussions-discussion__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nulla architecto atque consectetur optio magnam, mollitia excepturi corrupti incidunt iure quo eveniet in tenetur reiciendis at veniam beatae quisquam sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>