<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/typography.css">
    <title>Index</title>
</head>
<body>
    <header class="header">
        <div class="header__inner container">
            <h1 class="header__title fs-xl">Chat App</h1>
            <p class="header__desc fs-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cum odio quis cupiditate reprehenderit alias ipsam, doloremque impedit in voluptatibus nulla, commodi eum suscipit adipisci odit ducimus optio! Ullam, corporis.</p>
    </div>
    </header>
    <section class="forum">
        <form class="form" action="/send" method="POST">
            <div class="form__inner container">
                <h3 class="form__title fs-lg">Ecrivez votre post</h3>
                <input type="text" class="form__post-input fs-sm" name="text" required>
            </div>
        </form>
        <div class="posts container">
            <h2 class="posts__title fs-lg">Derniers posts</h2>
            <div class="posts__post-preview">
            </div>
        </div>
    </section>
    <script src="../js/displayer.js" type="text/javascript">
    </script>
</body>
</html>