<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <header class="header">
        <h1 class="header__title">Chat App</h1>
        <p class="header__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cum odio quis cupiditate reprehenderit alias ipsam, doloremque impedit in voluptatibus nulla, commodi eum suscipit adipisci odit ducimus optio! Ullam, corporis.</p>
    </header>
    <section class="forum">
        <div class="input">
            <h3 class="input__title">Ecrivez votre post</h3>
            <form class="form" action="/send" method="post">
                <input type="text" class="input-post" name="text" required>
                <button type="submit">submit</button>
            </form>
        </div>
    </section>
    <script src="../js/inputHandling.js" type="module"></script>
    <script src="../js/database.js" type="module"></script>
</body>
</html>