<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/typography.css">
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="../css/utilities.css">
    <script src="https://kit.fontawesome.com/1468460d46.js" crossorigin="anonymous"></script>
    <title>ChatApp - Homepage</title>
</head>
<body>
    <header class="header container">
        <p class="header__logo">ChatApp</p>
        <ul class="header-nav-list">
            <li class="header__nav-element"><a href="" class="header__nav-link">Home</a></li>
            <li class="header__nav-element"><a href="" class="header__nav-link">Services</a></li>
            <li class="header__nav-element"><a href="" class="header__nav-link">Contact</a></li>
        </ul>
    </header>

    <section class="hero container">
        <div class="hero-content">
            <h1 class="hero__title fs-xl">ChatApp</h1>
            <p class="hero__desc fs-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eos corrupti suscipit deleniti. Iusto ullam facere aut, mollitia quae officia molestias pariatur recusandae facilis harum inventore iure, nostrum unde quis. </p>
        </div>
        <div class="hero-showcase">
            <div class="hero-features">
                <div class="hero-feature-container">
                    <h3 class="hero-feature-container__title fs-md">1. Chat with your friends.</h3>
                    <p class="hero-feature-container__desc fs-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo adipisci reiciendis, repellendus rerum, commodi quis nemo minus dolorum, excepturi amet modi. Sint facilis id molestias nisi numquam modi aliquam blanditiis!</p>
                </div>
                <div class="hero-feature-container">
                    <h3 class="hero-feature-container__title fs-md">2. Make groups.</h3>
                    <p class="hero-feature-container__desc fs-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, sequi aut. Consectetur quis, architecto vero ipsum assumenda provident delectus libero, aliquid dolorum, harum quam esse dolor et in error tempore.</p>
                </div>
            </div>
            <div class="hero-form">
                <button class="hero-form__signup-btn fs-md" onclick="initSignup()">Sign up</button>
                <button class="hero-form__login-btn fs-md">Login</button>
            </div>
        </div>
    </section>

    <script src="../js/authentification.js"></script>
</body>
</html>